@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* * {
  border: 1px solid green;
} */

body {
  max-width: 1220px;
  margin: 0 auto;
  font-family: Open Sans;
  background-color: aquamarine;
  
}

.App {
  width: 95%;
  margin: 0 auto;
}

header {
  padding: 1rem;
}

.addBtn {
  padding: 1rem;
}

main {
  display: flex;
}

.reactQuill {
  width: 100%;
}