@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1220px;
  min-height: 103vh;
  margin: 0 auto;
  scroll-behavior: smooth;
  background: linear-gradient(#dddfd4,#fae596, #3fb0ac );
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(93, 188, 201);
  border-radius: 20px;
  border: 1px groove lightblue;
}

.App {
  width: 95%;
  margin: 0 auto;
}

header {
  margin: 0;
  padding: 0;
  font-family: Pacifico;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 2.5rem;
}

.reactSpring {
  align-self: center;
}

.reactSpring .newnote {
  font-family: Open sans;
  padding: 0.8rem 1rem;
  font-size: 16px;
  font-weight: bold;
  border: transparent;
  border-radius: 5px;
  background-color: #3fb0ac;
  color: white;
  cursor: pointer;
  border: outset;
}

.reactSpring .newnote:focus {
  border: inset;
  background-color: #333;
}

main {
  display: flex;
  height: 450px;
  border-radius: 10px;
}

.leftsidebar {
  width: 380px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  border: 2px groove #dddfd4;
}

.leftsidebar .list {
  height: 50px;
  border-radius: 5px;
  border: outset;
}

.leftsidebar .list:focus {
  background-color: #ccf3f2;
}

.editor {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.quillEditor {
  height: 390px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Open Sans;
}

/* .draft-editor-wrapper {
  height: 340px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 0.5rem;
  border: 1px groove lightblue;
  font-family: Open Sans;
}  */

.editorTitle {
  text-align: center;
  padding: 0.5rem;
  background-color: #3fb0ac70;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
  margin: 0 auto;
  color: #fff;
}

.titleEdit {
  position: absolute;
  padding: 4px;
}

.editIcon {
  margin-right: 10px;
}

/* .toolbar input[type="button"] {
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 2px;
  margin-bottom: 2px;
}

.toolbar input[type="button"]:active {
  transform: scale(.95);
}

.toolbar input[type="button"]:not(.active):hover {
  background-color: #eee;
}

.toolbar input[type="button"].active {
  background-color: turquoise;
  border-color: transparent;
} */


.open {
  display: flex;
}

small {
  padding: 5px;
  margin-top: 35px;
  font-family: Open sans;
  align-self: center;
  color: rgb(255, 75, 9);
}

.deleteIcon:hover {
  color: red;
}

a {
  color: rgb(255, 0, 55);
  text-decoration: none;
}

footer {
  background-color: rgba(105, 105, 105, 0.26);
  color: #fff;
  font-family: Open sans;
  font-size: smaller;
  padding: 0.3rem 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
